{% extends 'base.html' %}
{% load static %}
{% block class5 %}
    <link rel="stylesheet" href="{% static 'css/class.css' %}">
    <div class="sidebar">
        <h3>Темы заданий</h3>
        <ul id="topic-list">
            {% for topic in topic_list %}
                <li><a href="#" class="topic-link" data-topic="{{ topic.id }}">{{ topic.name }}</a>
                    <ul class="task-list" id="task-list-{{ topic.id }}">
                        {% for task in topic.tasks.all %}
                            <li><a href="#" class="task-link" id="task-name-{{ task.id }}" data-task="{{ task.id }}">{{ task.title }}</a>
                                <div class="task-text hide" id="task-text-{{ task.id }}">
                                    {{ task.description }}
                                </div>
                            </li>
                        {% empty %}
                            <li>Пока нет заданий</li>
                        {% endfor %}
                        {% for test in topic.tasks_test.all %}
                            <li><a target="_blank" href="{% url 'test5' test_id=test.id %}" class="test-link" id="test-name-{{ test.id }}" data-test="{{ test.id }}">{{ test.test_name }}</a>
                            </li>
                        {% empty %}
                            <li>Пока нет тестов</li>
                        {% endfor %}
                    </ul>
                </li>
            {% empty %}
                <li>Пока нет тем</li>
            {% endfor %}
        </ul>
    </div>
    <div class="task-description" id="task-description">
        <h3>Текст задания</h3>
    </div>
    <script src="{% static 'js/class.js' %}"></script>
{% endblock %}