<div class="container">
    <div class="sidebar">
        <h3>Темы заданий</h3>
        <ul id="topic-list">
            <li><a href="#" class="topic-link" data-topic="Электричество">Электричество</a></li>
            <li><a href="#" class="topic-link" data-topic="Молекулярка">Молекулярка</a></li>
        </ul>
    </div>

    <div class="content">
        <h2>Текст задания</h2>
        <div class="task" id="task-content"></div>
    </div>
</div>

<div class="task-list" id="task-list">
    <h4>Задания:</h4>
    <ul id="tasks"></ul>
</div>
