.container {
    display: flex;
}

.sidebar {
    width: 30%;
    padding: 20px;
    background-color: #f0f0f0;
    height: 100vh;
    overflow-y: scroll;
}

.task-list {
    display: none;
    padding: 20px;
    background-color: #e0e0e0;
}

.content {
    width: 70%;
    padding: 20px;
}
